<!-- 	<div class="google-map" 
		center="centerProperty"
		zoom="zoomProperty" 
		markers="markersProperty"
		latitude="clickedLatitudeProperty"
		longitude="clickedLongitudeProperty"
		mark-click="true"
		draggable="true"
		style="height: 1000px; width: 100%">
	</div> 	 -->
<!-- <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 400px"></google-map>	 -->
<!-- <google-map center="center" zoom="zoom" markers="markers" refresh="!isMapElementHidden" style="height: 400px"></google-map> -->

<!-- <div ng-app="WalkaboutSG" ng-controller="MapCtrl">
  <div class="tabs">
    <div ng-click="selected = 'first'" ng-class="{'selected': selected == 'first'}" class="tab">first</div>
  	<div ng-click="selected = 'second'" ng-class="{'selected': selected == 'second'}" class="tab">second</div>
   </div>
   
    <div ng-show="selected == 'first'" class="tab_content">      
        <map id="map_canvas"></map>
    </div>
    <div ng-show="selected == 'second'" class="tab_content">
    	
    </div>
</div> -->

<!-- <div ng-app='WalkaboutSG'>
    <div ng-controller="MapCtrl">
        <div id="map_canvas" ui-map="myMap" 
       style="height:300px;width:400px;border:2px solid #777777;margin:3px; border:1px solid" 
       ui-options="mapOptions" 
       ui-event="{'map-idle' : 'onMapIdle()'}"
       >
        </div>
        
        <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
                       ui-event="{'map-click': 'markerClicked(marker)'}">
        </div>
    </div>
</div> -->

      <div class="google-map" 
      center="centerProperty"
      zoom="zoomProperty" 
      markers="markersProperty"
      latitude="clickedLatitudeProperty"
      longitude="clickedLongitudeProperty"
      mark-click="true"
      draggable="true"
      style="height: 1000px; width: 100%">
    </div>
