<div class="row-fluid">
  <div class="span3">

    <div ui-map-info-window="myInfoWindow">  
      <label >Suggested Routes</label>
        <select ng-model='WalkaboutSG.route'  
                ng-options='option.value as option.name for option in walkaboutNeighborhoods'>
          <option value="{{option.value}}">{{option.name}}</option>
          <option value="">-- Select route --</option>
        </select>
      <br/>
      <br/>                                        
    </div>  
      
    <label>Neighboorhoods</label>
    <ul class="nav nav-pills nav-stacked">
      <li class="accordion-group"  ng-repeat="neighboorhood in walkaboutNeighborhoods" ui-animate>
          <a ng-click="panTo(incidence)">
              <span class="badge badge-warning">{{$index+1}}</span> {{neighboorhood.name}}
          </a>
      </li>
    </ul>

<!--     <label>Walkabouts</label>
    <ul ng:controller="WalkaboutListCtrl">
            <li ng:repeat="walkabout in walkabouts">
                {{walkabout.title}}
            </li>
     </ul>  -->   
   

  </div>

  <div class="span9 well" ng:controller="MapCtrl">
    <div class="google-map" 
      center="centerProperty"
      zoom="zoomProperty" 
      latitude="clickedLatitudeProperty"
      longitude="clickedLongitudeProperty"
      mark-click="true"
      draggable="true"
      style="height: 400px; width: 100%"
      id="map_canvas" 
      ui-map="myMap" 
          style="height:300px;width:400px;border:2px solid #777777;margin:3px; border:1px solid"        
      ui-options="mapOptions" 
      markers="markersProperty"
          ui-event="{'map-idle' : 'onMapIdle()', 'map-click': 'markerClicked(marker)'}"
      >
    </div>     
        
        <!--In addition to creating the markers on the map, div elements with existing google.maps.Marker object should be created to hook up with events -->
        <div ng-repeat="marker in markersProperty" ui-map-marker="markersProperty[$index]"
                       ui-event="{'map-click': 'markerClicked(marker)'}">
        </div>

  </div>
</div>


<style>
    .map {
        height: 400px;
        width: 100%;
    }
    
    li.accordion-group {
        transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        overflow: hidden;
    }
    /* The 'hidden' state to transition from & to */
    li.ui-animate {
        opacity: 0;
        max-height: 0;
        padding: 0 5px;
    }
</style>