
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>blog-angular-ui-map-markers - jsFiddle demo by ramandv</title>
  
<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.3.js'></script>
  <!-- <link rel="stylesheet" type="text/css" href="/css/normalize.css">    
  <link rel="stylesheet" type="text/css" href="/css/result-light.css"> -->
<script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?sensor=false&.js"></script>
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<script type='text/javascript' src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>    
  
  <style type='text/css'>
    
  </style>
  
</head>
<body>
  <div ng-app='maptesting'>

    <div ng-controller="MapCtrl">

        <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
        ui-event="{'map-click': 'openMarkerInfo(marker)'}">
        </div>    

        <div ui-map-info-window="myInfoWindow">
          <!-- <h1>Marker</h1> -->
          <!-- Lat: <input ng-model="currentMarkerLat">, Lng: <input ng-model="currentMarkerLng">
          <a ng-click="setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)">Set Position</a> -->
                  <div class='marker_title'>Title</div>
                  <div class='marker_uri'><a target='_blank' href='#'>http://represent.sg</a></div>
                  <div class='marker_desc'>Desc</div>
                  <div class='marker_address'>Address</div>
        </div>

    
        <div id="map_canvas" ui-map="myMap" 
        style="height:300px;width:400px;border:2px solid #777777;margin:3px; border:1px solid" 
        ui-options="mapOptions" 
        ui-event="{'map-idle' : 'onMapIdle()'}"
        >
        </div>
        
        <!--In addition to creating the markers on the map, div elements with existing google.maps.Marker object should be created to hook up with events -->
<!--         <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
                        ui-event="{'map-click': 'markerClicked(marker)'}">
        </div> -->



    </div>
</div>


  


<script type='text/javascript'>//<![CDATA[ 

//Add the requried module 'angular-ui' as a dependency
angular.module('maptesting', ['ui']);

function MapCtrl($scope) {
    var ll = new google.maps.LatLng(13.0810, 80.2740);

        // prepare infowindow
    // $scope.infowindow = new google.maps.InfoWindow({
    //       content: "holding..."
    // });

    $scope.mapOptions = {
        center: ll,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    //Markers should be added after map is loaded
    $scope.onMapIdle = function() {
        var marker = new google.maps.Marker({
            map: $scope.myMap,
            position: ll
        });
        $scope.myMarkers = [marker, ];
    };

    // $scope.markerClicked = function(m) {
    //     // window.alert("clicked");

    //     $scope.infowindow.setContent(
    //           "<div class='marker_title'>"+m.position.latitude+"</div>"
    //           // + "<div class='marker_uri'><a target='_blank' href='"+markerURI+"'>"+markerURI_short+"</a></div>"
    //           + "<div class='marker_desc'>"+"</div>"
    //           + "<div class='marker_address'>"+"</div>"
    //         );
    //     $scope.infowindow.open($scope.myMap, this);        
    // };

$scope.openMarkerInfo = function(marker) {
  // $scope.currentMarker = marker;
  // $scope.currentMarkerLat = marker.getPosition().lat();
  // $scope.currentMarkerLng = marker.getPosition().lng();
  $scope.myInfoWindow.open($scope.myMap, marker);
};    



}
//]]>  

</script>


</body>


</html>

